@main(null) {

    <div id="position"/>

    <script src="@routes.Assets.at("javascripts/pixi.dev.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/ships_config.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/keys_codes.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/controller.js")" type="text/javascript"></script>
    <!--script src="@routes.Assets.at("javascripts/tests/control_test.js")" type="text/javascript"></script-->
    <script src="@routes.Assets.at("javascripts/init.js")" type="text/javascript"></script>


}