@main(null){

<div class="container">
        <form class="form-signin" action="map">
                <h2 class="form-signin-heading">Red October - join game</h2>
                <label for="inputName" class="sr-only" >username</label>
                <input name="name" type="login" id="inputName" class="form-control" placeholder="Username" required autofocus>
                <br>
                <label for="inputTeam" class="sr-only">temname</label>
                <input name="team" type="login" id="inputTeam" class="form-control" placeholder="Team Name" required>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
        </form>
</div><!-- /.container -->





}